*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --darkPurple:rgba(13, 13, 43, 1);
    --accentWhite:#FFFFFF;
    --lightPurple:rgba(43, 7, 110, 1);
    --blue:rgba(54, 113, 233, 1);
    --footerColor:rgba(13, 13, 43, 1);
    --grayText:rgba(224, 224, 224, 1);
    --regualarFont:18px;
}

body{
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 400;
    background-color: var(--darkPurple);
    line-height: 1.5;
}
.body{
    padding: 0 2.5em;
}

header{
  padding-top: 1.7em;
  padding-bottom: 1.7em;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > div{
    width: 50%;
}
.brand_img img{
   display: flex;
    width: 23%;
}
nav .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .menu a, nav .menu button{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    color: var(--accentWhite);
}
nav .menu a:hover{
    border-bottom: 2px solid var(--blue);
    padding-bottom: 2px;
}
nav .menu button{
    background-color: var(--blue);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
#login{
    position: relative;
}
#login::after{
    position: absolute;
    content: '';
    right: -50%;
    top: 15%;
    width: 2px;
    height: 16px;
    background-color: var(--accentWhite);
    opacity: .2;
}

/* Hero section 1 */
.hero_section_1{
    display: flex;
}
.hero_section_1 > div{
    width: 50%;
}
.hero_section_1 .box1{
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
}
.hero_section_1 .box1 .offer{
    background-color: #4b5563;
    width: 60%;
    padding: 10px 12px;
    border-radius: 25px;
    text-align: end;
    position: relative;
    color: var(--accentWhite);
}
.hero_section_1 .box1 .offer::before{
    position: absolute;
    content: '70%  save';
    word-spacing: 6px;
    text-transform: uppercase;
    background-color: var(--accentWhite);
    left: 12px;
    bottom: 5px;
    padding: 5px 20px;
    border-radius: 15px;
    color: #4b5563;
}
.hero_section_1 .box1 h1{
    color: var(--accentWhite);
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    
}
.hero_section_1 .sub_heading{
    color: var(--grayText);
    margin-top: 5px;
}
.try_for_free{
    background-color: var(--blue);
    width: 30%;
    display: flex;
    align-items: center;
    font-size: var(--regualarFont);
    text-transform: capitalize;
    color: var(--accentWhite);
    padding: 5px 20px;
    border-radius: 25px;
   justify-content: space-between;
}
.try_for_free p{
    width: 70%;
}
.try_for_free .fa-play{
    background-color: var(--accentWhite);
    color: var(--blue);
    height: 4em;
    width: 4em;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 10px;
}
.hero_section_1 .box2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* hero section 2 */
.hero_section_2{
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}
.hero_section_2 .box1{
    display: flex;
    gap: 1rem;
}
.hero_section_2 .fa-play{
    background-color: #4b5563;
    color: var(--blue);
    height: 6em;
    width: 6em;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 10px;
}
.hero_section_2 h1{
    color: var(--accentWhite);
    text-transform: uppercase;
}
.hero_section_2 p{
    color: var(--grayText);
}
/* Hero section 3 */
.hero_section_3{
    padding-top: 5em;
    display: flex;
    align-items: center;
}

.hero_section_3 .box2{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.hero_section_3 .box2 h1{
    color: var(--accentWhite);
    font-size: 48px;
    line-height: 48px;
    font-weight: normal;
}
.hero_section_3 .box2 p{
    color: var(--grayText);
}
.hero_section_3 button{
    width: 20%;
    background-color: var(--blue);
    border: none;
    color: var(--accentWhite);
    padding: 10px;
    border-radius: 20px;
    outline: none;
    font-size: var(--regualarFont);
    font-family: Oxanium;
}
/* Hero sectionn 4 */
.hero_section_4 {
margin-top: 5em;
}
.hero_section_4 h1{
    text-align: center;
    color: var(--accentWhite);
    font-size: 24px;
    line-height: 30px;
}
.hero_section_4 p{
    color: var(--grayText);
    text-align: center;
    margin-top: 1.5em;
}

/* Hero section 5 */
.hero_section_5{
    background-color: var(--accentWhite);
    width: 80%;
    margin: 0 auto;
    margin-top: 5em;
    padding: 3em;
    border-radius: 20px;
    box-shadow: (0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(57, 23, 119, 0.05) 0px 20px 200px 0px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -35%;
}
.hero_section_5 .rates{
    display: flex;
   width: 100%;
   align-items: center;
   gap: 1em;
}
.rates form{
    width: 50%;
    padding-bottom: 5px;
    border-bottom: 1.5px solid var(--grayText);
}
.rates input{
    
    font-size: 20px;
    border: none;
    outline: none;
    
}
.rates select{
    color: var(--footerColor);
    padding-bottom: 5px;
    font-size: 20px;
    width: 30%;
    border: none;
    outline: none;
    border-bottom: 1.5px solid var(--grayText);
}
.rates button{
    width: 20%;
    background-color: var(--blue);
    border: none;
    color: var(--accentWhite);
    padding: 10px;
    border-radius: 20px;
    outline: none;
    font-size: var(--regualarFont);
    font-family: Oxanium;
}
.hero_section_5 .box2{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.hero_section_5 .estimate{
    color: var(--blue);
}
.hero_section_5 h1{
    color: var(--footerColor);
    font-size: 32px;
    font-weight: bolder;
}
.hero_section_5 .blue{
    color: var(--blue);
}
.hero_section_5 .revenue{
    color: #6b7280;
}
/* Main section */
.main_section_2{
    padding-top: 15em;
    background-color: #f9fafb;
    width: 100%;
  position: relative;
  margin-top: 15em;
}
.main_section_2 .main_heading{
    text-align: center;
    color: var(--footerColor);
    font-size: 24px;
    margin-bottom: 3em;
}
.main_section_2 .flex_boxes{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3em;
}
.main_section_2 .box{
    width: 28%;
    background-color: var(--accentWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1.5em;
    gap: 2em;
    border-radius: 20px;
}
.main_section_2 .box h1{
    text-transform: capitalize;
    color: var(--footerColor);
    font-size: 32px;
}
.main_section_2 sup{
    text-transform: uppercase;
    font-size: 18px;
    color: var(--grayText);
}
.main_section_2 .paragraph{
    text-align: center;
}
.main_section_2 .continue{
   width: 6em;
   height: 6em;
   border: 2px solid var(--grayText);
   border-radius: 50%;
   display: grid;
   place-items: center;
}